{
  "plugins": ["transform-runtime", "transform-decorators"],
  "presets": [
    ["es2015", {
      "es2015": {
        "modules": false
      }
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "test": {
      "presets": ["es2015", "stage-0"]
    },
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [
          {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react" ]
          }
          ]
        }]
      ]
    }
  }
}
